/* Ekstern styles.css fil */
.data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 70px;
    padding-top: 20px;
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
    text-align: center; /* Centrerer teksten */
}
  
.data-item {
    width: 400px;
    height:400px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -20;
}
.data-item::before{
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--dataHighlight-color);
    width: 100%;
    height: 40%;
    content: ''; /* Indhold af pseudo-elementet */
}

.data-item h2,
.data-item span {
    position: relative;
    z-index: 30; /* Sørg for, at teksten ligger over pseudo-elementet */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination-container button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #F3BE70;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.pagination-container button:hover {
    background-color: #e0e0e0;
}
 
.pagination-container span {
    margin-left: 10px; /* Juster afstanden mellem knapper og tekst */
    font-size: 16px; /* Juster skriftstørrelsen efter dit design */
    font-weight: bold; /* Gør teksten fed */
    color: white; /* Juster farven efter dit design */
  }