/* Ekstern styles.css fil */
.data-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 70px;
    padding-top: 20px;
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
    text-align: center; /* Centrerer teksten */
}
  
.data-item {
    width: 400px;
    height:400px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}
.data-item::before{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40%;
    content: ''; /* Indhold af pseudo-elementet */
}

.data-item h2,
.data-item span {
    position: relative;
    z-index: 3; /* Sørg for, at teksten ligger over pseudo-elementet */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination-container button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}
  
.pagination-container button:hover {
    background-color: #e0e0e0;
}
  