.all-events-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.all-events-header {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #0062c2;
}
.all-events-image {
  height: 2rem;
}
.all-events-container1 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.all-events-container2 {
  flex: 0 0 auto;
  width: auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.all-events-textarea {
  width: var(--dl-size-size-maxwidth);
  margin: var(--dl-space-space-halfunit);
}
@media(max-width: 767px) {
  .all-events-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .all-events-header {
    padding: var(--dl-space-space-unit);
  }
}
