.create-event-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.create-event-header {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #0062c2;
}
.create-event-image {
  height: 2rem;
}
.create-event-container01 {
  flex: 0 0 auto;
  width: auto;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput {
  margin: var(--dl-space-space-unit);
}
.create-event-container03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput1 {
  margin: var(--dl-space-space-unit);
}
.create-event-container04 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput2 {
  margin: var(--dl-space-space-unit);
}
.create-event-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput3 {
  margin: var(--dl-space-space-unit);
}
.create-event-container06 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput4 {
  margin: var(--dl-space-space-unit);
}
.create-event-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput5 {
  margin: var(--dl-space-space-unit);
}
.create-event-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput6 {
  margin: var(--dl-space-space-unit);
}
.create-event-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.create-event-textinput7 {
  margin: var(--dl-space-space-unit);
}
.create-event-button {
  align-self: center;
}
@media(max-width: 767px) {
  .create-event-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .create-event-header {
    padding: var(--dl-space-space-unit);
  }
}
