.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-header {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  max-width: auto;
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #0062c2;
}
.home-image {
  height: 2rem;
}
.home-container2 {
  top: 111px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  margin: auto;
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.home-button {
  width: 200px;
  height: 100px;
  margin: var(--dl-space-space-twounits);
  text-align: center;
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
